<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head></head>
  <body>
		  <form action="#" th:action="@{/admin/create}" th:object="${user}" method="POST">
		  	<input name="username" type="text"/>
		  	<input name="password" type="password"/>
		  	<div th:object="${roleToAdd}" >
		  	<select id="choice" name="roleId">		  	
            <option th:each="choice : ${allRoles}"
                    th:value="${choice.id}"
                    th:text="${choice.name}"></option>
            </div>
        </select>
		  	<button type="submit">Add</button>
		  </form>
	  <a type="button" href="user/users">Back</a>
  </body>
</html>